// Файл обнуляющих стилей
@import "nullstyle.scss";
@font-face {
  font-family: "PermanentMarker-Regular";
  src: url("./src/fonts/PermanentMarker-Regular.woff") format("woff"), /* Modern Browsers */
    url("./src/fonts/PermanentMarker-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Galada-Regular";
  src: url("./src/fonts/Galada-Regular.woff") format("woff"), /* Modern Browsers */
    url("./src/fonts/Galada-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 1080px;
  font-family: "Galada-Regular";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2E0104;
}
.preloader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F24411;
  z-index: 3;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  .loader {
    width: 300px;
    height: 100px;
    background: url('src/img/heli.png') center no-repeat;
    background-size: cover;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -40%);
    animation: 2s spin infinite linear;
  }
  &.done {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: translate(-50%, -40%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -40%);
  }
}
.video {
  height: 1080px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
.header {
  height: 80px;
  background-color: rgba(106,22,18, 0.8);
}
.header__box {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 40px;
  color: #FE910E;
  font-family: "PermanentMarker-Regular";
}
.controls {
  button {
    font-family: "PermanentMarker-Regular";
    background-color: rgba(0, 0, 0, 0);
    color: #FE910E;
    font-size: 30px;
    margin: 0 10px;
  }
}
.text {
  max-width: 590px;
  max-height: 380px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
}
p {
  color: white;
  font-size: 50px;
}
.slider {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.item {
  height: 370px;
  max-width: 700px;

  img {
    height: 370px;
    object-fit: cover;
  }
}
.footer {
  display: flex;
  height: 80px;
  background-color: rgba(106,22,18, 0.8);
  justify-content: center;
  align-items: center;
  h6{
    color: #FE910E;
    font-size: 20px;
    a{
      color: #FE910E;
      text-decoration-line: underline;
    }
  }
}
